@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: rgb(239, 236, 189);
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: repeating-linear-gradient( -45deg, black 2px, rgb(55, 55, 55) 4px);
}

.container{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin-bottom: 30px;
}

.container a{
    text-decoration: none;
    color: lightblue;
}

.container a:hover{
text-decoration: underline;
}

.form-control{
    position: relative;
    margin: 50px 0;
    width: 300px;
}

.form-control input{
    background-color: transparent;
    border: 0;
    border-bottom: 1px white solid;
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: white;
}

.form-control input:valid, .form-control input:focus{
    outline: none;
    border-bottom-color: rgb(208, 87, 43);
}

.btn{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    background-color: rgb(208, 87, 43);
    margin: 0;
    border: 0;
    border-radius: 5px;
}

.btn:active{
    transform: scale(0.97);
}

.btn:hover{
    opacity: 0.5;
}

.btn:focus{
    outline: 0;
}

.text{
    margin-top: 30px;
}

.form-control label{
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span{
    display: inline-block;
    transition: transform 0.5s cubic-bezier(0.7, -0.5, 0.4, 1.5);
}

.form-control input:focus + label span, .form-control input:valid + label span{
    color: rgb(208, 87, 43);
    transform: translateY(-30px);
}